@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Serif:wght@200;300;400;500;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@200;500;600;700;800;900&display=swap");
.post {
  padding-top: 40px;
  max-width: 740px;
  width: 100%;
  margin: 0 auto;
}

.post__heading {
  margin-bottom: 2.4rem;
  font-family: 'Inter', sans-serif;
}

.post__heading-title {
  font-size: 46px;
  line-height: 56px;
  font-weight: 800;
  letter-spacing: -0.306px;
  color: #3c3e3e;
  margin-bottom: 32px;
}

.post__heading-about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
}

.post__heading-author {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
}

.post__heading-author-img {
  display: block;
  width: 30px;
  height: 30px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 50%;
}

.post__heading-author-link {
  display: inline;
  font-size: 14px;
  color: #3c3e3e;
}

.post__heading-time {
  color: #6d6e6e;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 8px;
}

.post__heading-dot {
  font-size: 2px;
}

.post__heading-action {
  margin-left: auto;
  font-size: 20px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  gap: 18px;
}

.post__heading-action-link {
  color: #3c3e3e;
}

.post__content {
  font-family: 'IBM Plex Serif', serif;
  letter-spacing: -0.003em;
}

.post__content p {
  line-height: 32px;
  font-size: 2.1rem;
  margin-top: 4rem;
}

.post__content figure {
  margin-top: 5.6rem;
  text-align: center;
}

.post__content img {
  margin: 0 auto;
  display: block;
}

.post__content figcaption {
  font-family: 'Inter', sans-serif;
  margin-top: 1rem;
  line-height: 20px;
  color: #6d6e6e;
}

.post__content h2 {
  line-height: 28px;
  margin-top: 1.72em;
  font-size: 2.2rem;
  font-family: 'Inter', sans-serif;
  font-weight: 600;
  color: #000;
  letter-spacing: -0.5;
}

.post__content h2 strong {
  font-weight: 600;
}

.post__content ul {
  margin-top: 2rem;
  font-size: 2.1rem;
  list-style-type: disc;
  letter-spacing: -0.001em;
}

.post__content ul li {
  margin-left: 40px;
  margin-top: 1em;
}

.post__content strong {
  font-weight: 700;
}

.post__content h2 + p {
  margin-top: 2rem;
}

.post__footer {
  margin-top: 4rem;
}

.post__footer-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-size: 1.4rem;
  margin: 2.5rem 0;
}

.post__footer-interactive {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 20px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.post__footer-interactive i {
  font-size: 2rem;
}

.post__footer-action {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1.4rem;
  font-size: 2rem;
}

.post__footer-action a {
  color: #3c3e3e;
}

.post__footer-tags {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 8px;
  margin: 2.5rem 0 4rem;
}

.post__footer-tags-link {
  display: inline-block;
  -webkit-tap-highlight-color: transparent;
  color: #757575;
  padding: 5px 10px;
  border-radius: 3px;
  font-size: 13px;
  line-height: 22px;
  background-color: #f2f2f2;
}

.footer-wrapper {
  padding: 3.2rem 0;
  background-color: rgba(0, 0, 0, 0.9);
}

.footer__container {
  margin: 0 auto;
  max-width: 1192px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer__logo {
  display: block;
  width: 14.2rem;
}

.footer__logo-media {
  fill: white;
}

.footer__nav-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
}

.footer__nav-link {
  font-size: 16px;
  color: rgba(255, 255, 255, 0.98);
  font-weight: 300;
  -webkit-transition: all 250ms ease-in;
  transition: all 250ms ease-in;
}

.footer__nav-link:hover {
  color: white;
}
/*# sourceMappingURL=detail.css.map */